*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url("img/imgHearts.png");
    background-color: #8d1233; 
    background-repeat: repeat-x;
}

.container{
    margin: 0 auto;
    margin-top: 80px;
    width: 375px;
}

header{
    color:#ffffff;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    text-shadow: black 0.1em 0.1em 0.2em
}

.divPhoto{
    display: inline-block;
    background-color: #ffffff;
    height: 280px;
    width: 200px;
    margin-top: 80px;
}

#slider{
    width: 180px;
    height: 240px;
    position: relative;
    
}

#slider img{
    opacity: 0;
    position: absolute;

    width: 100%;
    height: 100%;
    margin-top: 6px;
    margin-left: 10px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

.divtext{
    display: flex;
    background-color: rgb(141, 18, 51, 0.70);
    margin-top: -180px;
    margin-left: 210px;
}

.text{
    display: flex;
    color:#ffffff;
    font-size: 13.3px;
    text-align: center;
}

.request{
    display: flex;
    color: #fee1eb;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin-top: 190px;
    margin-left: -9px;
    margin-bottom: 20px;
}


label{
    color: #ffffff;
    margin-left: -3px;
    background-color: rgb(141, 18, 51, 0.70);
}

.no{
    font-size: 8px;
}

.noInput{
    width: 4px;
}

.divVideoFirts{
    display: flex;
    background-color: #ffffff;
    height: 280px;
    width: 200px;
    margin-left: 180px;
    margin-top: -100px;
}

.videoFirts{
    display: flex;
    height: 250px;
    margin-top: 6px;
    margin-left: 30px;
}